@model IEnumerable<HotelSite.Models.AdminViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Roles";
}

<h1>Список ролей</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersInRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <ul>
                    @foreach (ApplicationUser applicationUser in item.UsersInRole)
                    {
                        <li>@applicationUser.UserName</li>
                    }
                </ul>
                @Html.ActionLink("Изменить состав роли", "EditListOfUsers", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <br />
    <a asp-action="Index" class="btn btn-primary" role="button">Назад в главное меню</a>
</div>